html{
  width: 100%;
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei",Arial,sans-serif;
}
body, #root, .container{
  margin: 0;
  padding: 0;
  height: inherit;
}
.container{
  overflow: hidden;
}
h3{
  margin: 0 20px;
  padding: 0;
}
.login-contain {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 380px; */
  /* height: 200px; */
  top: 50%;
  left: 50%;
  padding: 40px 30px;
  content: '';
  border-radius: 6px;
  box-shadow: 1px 1px 5px #cccccc, -1px -1px 5px #cccccc;
  background-color: #cccccc;
  transform: translate(-50%, -70%);
  transition: transform 2s linear 2s;
}

.form-item{
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-item label{
  width: 80px;
  display: block;
  line-height: 1.5;
}

.form-item input{
  height: 42px;
  width: 240px;
  border-radius: 2px;
  padding: 2px 6px;
  border: none;
  box-sizing: border-box;
}

.login-btn{
  margin-top: 20px;
  height: 40px;
  width: 100%;
  cursor: pointer;
  outline: none;
  background-color: #1abc9c;
  padding: 0;
  border: none;
  border-radius: 4px;
  color: #eeeeee;
}
.api-detail{
  /* display: flex;
  justify-content: center; */
  text-align: center;
}
.api-detail div{
  margin: 18px 0;
  padding: 18px 0;
  background-color: #cccccc;
}
.api-detail div a{
  cursor: pointer;
  font-size: 24px;
  font-weight: 600;
}
.api-body{
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.sidebar{
  min-width: 220px;
  background-color: #1abc9c;
  color: #eeeeee;
}
.api-header{
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  line-height: 48px;
  padding: 10px 0;
  box-sizing: content-box;
  background-color: #1abc9c;
}
.api-header h3 {
  color: #ffffff;
  letter-spacing: 2px;
}
.api-header span{
  margin-right: 40px;
  letter-spacing: 2px;
  cursor: pointer;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  padding: 0 20px;
  line-height: 44px;
}
.config-content{
  position: relative;
  height: 100%;
  width: 960px;
  margin: 0 auto;
  overflow-y: auto;
  padding-bottom: 60px;
}
.api-content{
  position: relative;
  display: flex;
  height: 100%;
  overflow-y: auto;
}
.sidebar ul{
  margin: 20px 0;
  padding: 0;
  list-style: none;
}
.sidebar li:first-of-type{
  border-top: 1px solid #cccccc;
  box-sizing: border-box;
}
.sidebar li{
  list-style: none;
  padding: 16px 24px;
  border-bottom: 1px solid #cccccc;
  box-sizing: border-box;
  cursor: pointer;
}
.sidebar li:hover{
  background-color: #1ab29c
}
.detail{
  flex: 1;
  margin: 20px 20px 0;
  padding-bottom: 40px;
  overflow-y: auto;
}
.detail-content{
  flex: 1;
  margin: 20px 20px 40px;
  border: 1px solid #1abc9c;
  box-sizing: border-box;
}
.detail-content:last-of-type{
  padding-bottom: 40px;
}
.api-title{
  padding: 20px 0;
  border-bottom: 1px solid #1abc9c;
  box-sizing: border-box;
}
.sub-title{
  font-weight: 500;
  padding: 5px 20px;
  background-color: #cccccc
}
.sub-content{
  padding: 0 10px;
}
.doc-detail{
  padding: 0 20px;
}
.api-item{
  margin-top: 20px;
}
.api-item table{
  width: 100%;
  max-width: 600px;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: #eeeeee;
  margin: 16px 10px 0;
}
th{
  font-weight: 500;
  padding: 5px 20px;
}
td{
  padding: 5px 20px;
  text-align: center;
  box-sizing: border-box;
}
.config-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #1abc9c;
  box-sizing: border-box;
}
.config-btns{
  position: relative;
  display: flex;
}
.config-btns button{
  outline: none;
  padding: 5px 10px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #1abc9c;
  border-radius: 2px;
  margin-left: 10px;
}
.config-btns ul{
  position: absolute;
  right: 0;
  /* font-size: 12px; */
  border: 1px solid #1abc9c;
  box-sizing: border-box;
  background-color: #ffffff;
  display: none;
  transition: all 1s linear;
  z-index: 1;
}
.config-btns ul li {
  padding: 12px 30px;
  border-bottom: 1px solid #1abc9c;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer
}
.config-btns ul li:last-of-type{
  border-bottom: none;
}
.config-btns ul li:hover{
  background-color: #eeeeee;
}
.confirm{
  outline: none;
  padding: 0 10px;
  box-sizing: border-box;
  border: 1px solid #1abc9c;
  border-radius: 2px;
  margin-left: 20px;
  height: 40px;
  line-height: 1;
  background-color: #1abc9c;
  color: #ffffff;
  cursor: pointer;
  display: none;
}
.config-item {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.config-item:first-of-type{
  margin-top: 0;
}
.config-item input{
  height: 40px;
  padding: 2px 10px;
  border-radius: 2px;
  outline: none;
  border-style: none;
  border: 1px solid #1abc9c;
  box-sizing: border-box;
}
.add-icon{
  margin-left: 10px;
  border: 1px solid #1abc9c;
  padding: 5px 10px;
  border-radius: 2px;
  cursor: pointer;
}
.param-input{
  width: 80px;
}
.param-input+.param-input{
  margin-left: 10px;
}
.add-icon:hover{
  color: #ffffff;
  background-color: #1abc9c;
}
ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.config-table{
  width: 410px;
  position: relative;
  margin-left:80px;
  margin-top: 10px;
  border-spacing: 0;
  border-collapse: collapse;
  border-color: #eeeeee;
}
.config-table tr, .config-table td{
  max-height: 32px;
}
.config-table th, .config-table td{
  font-size: 12px;
}
.categorys-body{
  position: relative;
  padding: 40px 20px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.categorys-table{
  border-spacing: 0;
  border-collapse: collapse;
  border-color: #eeeeee;
  margin-left: 30px;
  font-size: 12px;
}
.categorys-table td span{
  margin: 0 5px;
}
.apis-table{
  position: absolute;
  right: 20px;
  background: #ffffff;
}
.categorys-table tr{
  height: 40px;
}
.api-name{
  display: flex;
  align-items: center;
}
select{
  width: 190px;
  height: 40px;
}
.input-name {
  height: 40px;
  width: 220px;
  border-radius: 4px;
  padding: 8px;
  outline: none;
  box-sizing: border-box;
  border: 1px solid #cccccc;
  margin-left: 10px;
}